<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="./home.css">
</head>
<body>

    <nav>
        <ul>
            <li><h2>Home</h2></li>
            <li><a href="http://localhost:3000/login"><h2>Login</h2></a></li>
            <li><a href="http://localhost:3000/reg"><h2>Registration</h2></a></li>
            <li><a href="http://localhost:3000/about"><h2>About</h2></a></li>
        </ul>
    </nav>
    
    <h3>"Welcome to the User Management System! Simplify user registration, manage profiles, and ensure secure access, all in one place."</h3>

</body>
</html>
